# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Build files
build/
dist/
*.egg-info/

# Streamlit cache
.streamlit/

# Misc
*.sqlite3